:root {
    /* colors */
    --color-blue-navy-100: #343D4B;
    --color-blue-navy-80: rgba(52, 61, 75, 0.8);
    --color-white-100: #FFFFFF;
    --color-black-100: #000000;

    /* font sizes */
    --font-size-50: 50px;
    --font-size-40: 40px;
    --font-size-38: 38px;
    --font-size-30: 30px;
    --font-size-28: 28px;
    --font-size-26: 26px;
    --font-size-24: 24px;
    --font-size-22: 22px;
    --font-size-20: 20px;
    --font-size-18: 18px;
    --font-size-16: 16px;
    --font-size-14: 14px;
    --font-size-12: 12px;

    /* corner roundness */
    --corner-rounded-100: 100px;
    --corner-rounded-30: 30px;
    --corner-rounded-25: 25px;
    --corner-rounded-10: 10px;

    /* border radius */
    --border-radius-80: 80px;
    --border-radius-60: 60px;
    --border-radius-55: 55px;
    --border-radius-50: 50px;
    --border-radius-45: 45px;
    --border-radius-35: 35px;
    --border-radius-30: 30px;
    --border-radius-24: 24px;
    --border-radius-10: 10px;

    /* font family */
    --font-family-montserrat: 'Montserrat', sans-serif;

    /* font weights */
    --font-weight-bold: 700;
    --font-weight-semibold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;

    /* typography scale — sizes */
    --font-size-display-large: var(--font-size-40);
    --font-size-display-medium: var(--font-size-30);
    --font-size-heading-large: var(--font-size-26);
    --font-size-heading-label: var(--font-size-20);
    --font-size-heading-data: var(--font-size-20);
    --font-size-subheading-date: var(--font-size-18);
    --font-size-link: var(--font-size-16);
    --font-size-heading-small: var(--font-size-16);
    --font-size-body-secondary: var(--font-size-16);
    --font-size-body-small: var(--font-size-14);

    /* typography scale — weights */
    --font-weight-display-large: var(--font-weight-bold);
    --font-weight-display-medium: var(--font-weight-bold);
    --font-weight-heading-large: var(--font-weight-bold);
    --font-weight-heading-label: var(--font-weight-bold);
    --font-weight-heading-data: var(--font-weight-medium);
    --font-weight-subheading-date: var(--font-weight-medium);
    --font-weight-link: var(--font-weight-semibold);
    --font-weight-heading-small: var(--font-weight-bold);
    --font-weight-body-secondary: var(--font-weight-regular);
    --font-weight-body-small: var(--font-weight-regular);

    /* design */
    --app-background: var(--color-blue-navy-100);

    /* typography */
    --primary-text-color: var(--color-white-100);

    /* border sizes */
    --border-round-date-panel: var(--border-radius-30);

    /* panel colors */
    --panel-dark: #222831;
    --panel-darker: #272E37;
}